
#cursor-trailer {
    position: fixed;
    z-index: 1;

    width: 20px;
    height: 20px;

    background-color: var(--primary);
    border-radius: 20px;

    pointer-events: none;
    
    opacity: 0;
    transition: opacity 0.1s;
    
}

/* body {
    cursor: none;
} */

/* when mouse is on screen, show */
/* body:hover > #cursor-trailer {
    opacity: 1;
} */

/* .section {
    position: relative;
    z-index: 1;
} */