/*:root {*/
/*    --background-primary: #262931;*/
/*    --background-secondary: #2a2e36;*/
/*    --background-tertiary: #21242b;*/
/*    --background-accent: #333741;*/

/*    !* --background-primary: #21242b;*/
/*    --background-secondary: #191c21;*/
/*    --background-tertiary: #15181c;*/
/*    --background-accent: #313540; *!*/

/*    --primary: #ff6188;*/
/*    --primary-light: #ff7a9c;*/
/*    --primary-highlight: #ffb3c6;*/

/*    --text-primary: #f0f0f0;*/
/*}*/

:root {
    /* green */
    /* --background-primary: #25302f; */
    /* --background-secondary: #293534; */
    /* --background-tertiary: #212b2a; */
    /* --background-accent: #313f3e; */

    /* gray */
    --background-primary: #303030;
    --background-secondary: #363636;
    --background-tertiary: #2b2b2b;
    --background-accent: #333333;

    --primary: #60ffa2;
    --primary-light: #7affb1;
    --primary-highlight: #b3ffd2;

    --text-primary: #f0f0f0;
    --text-dim: #dfdfdf;

    --primary: #17da72;
    /* --primary: #00db12; */
    --primary-light: #34ea89;
    --primary-disabled: #1daf61;
    --primary-dark: #17da7240;
    --primary-highlight: #67efa6;


    --text-small: 1rem;
    --text-med: 1.25rem;
    --text-big: 2rem;
    --text-subtitle: 3rem;
    --text-title: 5rem;
    --text-giant: 10rem;

    --radius-small: 3px;
    --radius: 10px;
    --border: rgba(255, 255, 255, 0.05);
    --border-bright: rgba(255, 255, 255, 0.1);
    --font: "Fira Code", monospace;
}

@media screen and (max-width: 800px) {
    :root {
        --text-med: 1rem;
        --text-big: 1.5rem;
        --text-subtitle: 2rem;
        --text-title: 3rem;
    }
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: var(--font);
    color: var(--text-primary);
    background-color: var(--background-primary);
    font-size: var(--text-small);
}
*::selection {
    color: var(--text-primary);
    background-color: var(--primary);
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
    grid-gap: 1rem;
}
@media screen and (max-width: 40rem) {
    .cards {
        grid-template-columns: initial;
    }
}
.card {
    background-color: var(--background-secondary);
    border-radius: var(--radius);
    border: 1px solid var(--border);

    padding: 1em;
}
.card h3 {
    margin: 0;
}
.card p {
    margin: 0.25em 0 0 0;
}

button,
.button {
    padding: 1em;
    border: none;
    outline: none;
    border-radius: 3px;

    background: linear-gradient(to right, var(--primary), var(--primary), var(--primary-highlight), var(--primary));
    background-size: 500% 100%;
    transition: 0.5s, background-position 0.75s, outline 0.1s;

    color: var(--background-primary);
    cursor: pointer;
    font-family: var(--font);
}
button:hover,
.button:hover {
    background-position: -100% 0;
    outline: 1px solid var(--primary-dark);
}
button:active, button:focus,
.button:active, .button:focus {
    outline: 3px solid var(--primary-dark);
}
button.disabled,
.button.disabled {
    background: transparent;
    border: 3px solid var(--border);
    color: var(--primary);
    cursor: default;
}
button.disabled:hover,
.button.disabled:hover {
    outline: none;
}
button.disabled:active, button.disabled:focus,
.button.disabled:active, .button.disabled:focus {
    outline: none;
}

button.smooth,
.button.smooth {
    background: transparent;
    border: 3px solid var(--border);
    color: var(--primary);
}
button.smooth:hover,
.button.smooth:hover {
    background-color: rgba(255, 255, 255, 0.05);
    outline: none;
}
button.smooth:active, button.smooth:focus,
.button.smooth:active, .button.smooth:focus {
    background-color: rgba(0, 0, 0, 0.1);
    outline: none
}

button.smooth.disabled,
.button.smooth.disabled {
    pointer-events: none;
    cursor: not-allowed;
    text-decoration: line-through;
    color: var(--primary-disabled);
}

a.button {
    text-decoration: none;
}

h1 {
    color: var(--primary);
}
h1::selection {
    background-color: var(--primary);
}

a {
    color: var(--primary);
}