
.section {
    margin: 7.5% auto;
    max-width: 70%;
    font-size: var(--text-med);

    z-index: 2;
    scroll-margin-top: calc(2 * var(--text-subtitle));
}
@media screen and (max-width: 800px) {
    .section:nth-child(2n) {
        margin: 7.5%;
        max-width: 100%;
    }
}

.section > h1 {
    text-align: center;
}

#footer {
    background-color: var(--background-tertiary);
    padding: min(7.5%, 6rem) 10%;
    color: var(--text-dim);
}
.footer-line {
    width: 100%;
    height: 3px;
    background: var(--border-bright);
    margin-bottom: 0.5rem;
}
#footer p {
    display: inline;
}
#footer .icons {
    float: right;
}
#footer a {
    color: var(--text-dim);
    text-decoration: none;
}

.section:nth-child(2n-1) {
    background: var(--background-secondary);
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 10rem;
    padding-bottom: 10rem;
}
.section:nth-child(2n-1) h1 {
    margin-top: 0;
}
.section:nth-child(2n-1) .card {
    background-color: var(--background-accent);
}
.section:nth-child(2n) {
    margin-top: 9rem;
    margin-bottom: 10rem;
}

#faq {
    max-width: initial;
}
#faq-wrapper {
    max-width: 70%;
    margin: auto;
}
@media screen and (max-width: 800px) {
    #faq-wrapper {
        max-width: 90%;
    }
}

#sponsors {
    margin-left: auto;
    margin-right: auto;
    max-width: initial;
    text-align: center;
}
#sponsor-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#sponsors h1 {
    text-align: center;
}
#sponsors img {
    width: 7em;
    height: 7em;
    margin: 1em;
}

#register {
    text-align: center;
    max-width: initial;
    padding-top: 5rem;
    padding-bottom: 5rem;
}
#register button {
    font-size: var(--text-med);
}

#organizers {
    margin-left: auto;
    margin-right: auto;
    max-width: initial;
    text-align: center;
}
#organizers > p {
    max-width: 80ch;
    margin-left: auto;
    margin-right: auto;
}
#organizer-names p {
    margin: 0.15em;
    color: var(--primary);
}

#winners {
    max-width: 100%;
    padding: 2rem;
    margin: 0;
}

#winner-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.winner-card {
    width: 15em;
    padding-bottom: 2em;
    margin: 1em;
}
.winner-card img {
    width: 100%;
    border-radius: var(--radius);
}
.winner-card .place {
    font-weight: bold;
    color: var(--primary);
    text-align: center;
    margin: 0.25em 0;
}
.winner-card .description {
    font-size: var(--text-small);
    text-align: center;
    margin: 0.5em 0;
}

#overview p {
    text-align: center;
}