/*:root {*/
/*    --background-primary: #262931;*/
/*    --background-secondary: #2a2e36;*/
/*    --background-tertiary: #21242b;*/
/*    --background-accent: #333741;*/

/*    !* --background-primary: #21242b;*/
/*    --background-secondary: #191c21;*/
/*    --background-tertiary: #15181c;*/
/*    --background-accent: #313540; *!*/

/*    --primary: #ff6188;*/
/*    --primary-light: #ff7a9c;*/
/*    --primary-highlight: #ffb3c6;*/

/*    --text-primary: #f0f0f0;*/
/*}*/

:root {
    /* green */
    /* --background-primary: #25302f; */
    /* --background-secondary: #293534; */
    /* --background-tertiary: #212b2a; */
    /* --background-accent: #313f3e; */

    /* gray */
    --background-primary: #303030;
    --background-secondary: #363636;
    --background-tertiary: #2b2b2b;
    --background-accent: #343333;

    --primary: #60ffa2;
    --primary-light: #7affb1;
    --primary-highlight: #b3ffd2;

    --text-primary: #f0f0f0;

    --primary: #17da72;
    /* --primary: #00db12; */
    --primary-light: #34ea89;
    --primary-dark: #17da7240;
    --primary-highlight: #67efa6;


    --text-small: 1rem;
    --text-med: 1.25rem;
    --text-big: 2rem;
    --text-subtitle: 3rem;
    --text-title: 5rem;

    --radius-small: 3px;
    --radius: 10px;
    --border: rgba(255, 255, 255, 0.05);
    --font: "Fira Code", monospace;
}

@media screen and (max-width: 800px) {
    :root {
        --text-med: 1rem;
        --text-big: 1.5rem;
        --text-subtitle: 2rem;
        --text-title: 3rem;
    }
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: var(--font);
    color: var(--text-primary);
    background-color: var(--background-primary);
    font-size: var(--text-small);
}
*::selection {
    color: var(--text-primary);
    background-color: var(--primary);
}

.section {
    margin: 7.5% auto;
    max-width: 70%;
    font-size: var(--text-med);

    z-index: 2;
    scroll-margin-top: calc(2 * var(--text-subtitle));
}
@media screen and (max-width: 800px) {
    .section {
        margin: 7.5%;
        max-width: 100%;
    }
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
    grid-gap: 1rem;
}
@media screen and (max-width: 25rem) {
    .cards {
        grid-template-columns: initial;
    }
}
.card {
    background-color: var(--background-secondary);
    border-radius: var(--radius);
    border: 1px solid var(--border);

    padding: 1em;
}
.card h3 {
    margin: 0;
}
.card p {
    margin: 0.25em 0 0 0;
}

.section:nth-child(2n-1) {
    background: var(--background-secondary);
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 10rem;
    padding-bottom: 10rem;
}
.section:nth-child(2n-1) h1 {
    margin-top: 0;
}
.section:nth-child(2n-1) .card {
    background-color: var(--background-accent);
}
.section:nth-child(2n) {
    margin-top: 9rem;
    margin-bottom: 10rem;
}

#faq {
    max-width: initial;
}
#faq-wrapper {
    max-width: 70%;
    margin: auto;
}

#sponsors {
    margin-left: auto;
    margin-right: auto;
    max-width: initial;
}
#sponsor-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#sponsors h1 {
    text-align: center;
}
#sponsors img {
    width: 7em;
    height: 7em;
    margin: 1em;
}

#register {
    text-align: center;
    max-width: initial;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
#register button {
    font-size: var(--text-med);
}

#footer {
    margin-left: auto;
    margin-right: auto;
    max-width: initial;
    border-bottom: 1px solid #7affb1;
    padding-top: 0.1rem;
    padding-bottom: 1rem;
    margin-bottom: 0rem;
}

#footer p {
    font-size: 20px;
    text-align: center;
}

#footer a {
    color:var(--primary-light);
}


button {
    padding: 1em;
    border: none;
    outline: none;
    border-radius: 3px;

    background: linear-gradient(to right, var(--primary), var(--primary), var(--primary-highlight), var(--primary));
    background-size: 500% 100%;
    transition: 0.5s, background-position 0.75s, outline 0.1s;

    color: var(--background-primary);
    cursor: pointer;
    font-family: var(--font);
}
button:hover {
    background-position: -100% 0;
    outline: 1px solid var(--primary-dark);
}
button:active, button:focus {
    outline: 3px solid var(--primary-dark);
}
button.disabled {
    background: transparent;
    border: 3px solid var(--border);
    color: var(--primary);
    cursor: default;
}
button.disabled:hover {
    outline: none;
}
button.disabled:active, button.disabled:focus {
    outline: none;
}

h1 {
    color: var(--primary);
}
h1::selection {
    background-color: var(--primary);
}
