
#title-container {
    position: absolute;
    top: 50%;
    left: 1%;
    transform: translateY(-50%);
    
    pointer-events: none;

    color: var(--primary);
}

#title {
    font-size: var(--text-title);
    font-weight: bold;

    display: flex;
    flex-direction: row;      
}

#title-text {
    margin: 0;
    pointer-events: none;
} 

#subtitle {

    display: flex;
    flex-direction: row;

    font-size: var(--text-subtitle);
    font-weight: 500;
}

#register-link {
    font-size: var(--text-big);
    pointer-events: all;

    width: max-content;

    opacity: 0;

    transform: translateY(1em);
    transition: 0.5s, background-position 0.75s;

    background: linear-gradient(to right, var(--primary), var(--primary), var(--primary-highlight), var(--primary));
    background-size: 500% 100%;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;

    background-position: 0 0;
}

#register-link:hover {
    background-position: -100% 0;
    cursor: pointer;
    font-weight: 500;
}

#register-link:hover #register-text::after {
    background-position: -100% 0;
}

#register-text {
    position: relative;
}

#register-text::after {
    content: "";
    
    position: absolute;
    top: 100%;
    left: 0;

    width: 100%;
    height: 0.1em;

    background: linear-gradient(to right, var(--primary), var(--primary), var(--primary-highlight), var(--primary));
    background-size: 500% 100%;

}

@keyframes cursor-blink {
    0% {opacity: 100; }
    50% { opacity: 100; }
    75% { opacity: 0; }
    100% { opacity: 0; }
}

#cursor {
    background-color: var(--primary);
    width: 0.1em;
    animation: cursor-blink 1s infinite;
}